<h1>{{title}}</h1>
<style>
    table {
        float:left;
    }
</style>
 <table>
        <tr>
            <th>Operand1</th>
            <th>Operand2</th>
        </tr>
        {{#each questions}}
        <tr>
            <td>{{this.randomNumber1}}</td>
            <td>{{this.randomNumber2}}</td>
        </tr>    
        {{/each}}
</table>
 <table>
        <tr>
            <th>Answer</th>
        </tr>
        {{#each answers}}
        <tr>
            <td>&nbsp;{{this.answer}}</td>
        </tr>    
        {{/each}}
</table>
<table>
        <tr>
            <th>Result</th>
        </tr>
        {{#each calculatedAnswers}}
        <tr>
            <td>{{this.answer}}</td>
        </tr>    
        {{/each}}      
</table>
<div style="position: relative"><p style="position: fixed; bottom: 0; width:100%; text-align: left">
    You got {{answerCount}} correct out of {{gameLength}}
    <br>
    <button onclick="loadHome()">Return to Home</button>
</p></div>
<script>
    function loadHome() {
        location.replace("/home")
    }
</script>