<ul class="NavBar">
    <li><a href="/home">home</a></li>
    <li><a href="/viewWorksheets">View Worksheets</a> </li>
    <li><a href="/configWorksheet">configWorksheet</a> </li>
    <li><a href="/scores">scores</a> </li>
    <li><a href="/myScores">myScores</a> </li>
    <li><a href="/profile">Profile</a></li>
</ul><br><br>
<h1>Worksheet Name: {{name}}</h1>
<h2>{{topic}}</h2>
<style>
    table {
        float: left;
    }
</style>
<table>
    <tr>
        <th>Operand1</th>
        <th>Operand2</th>
    </tr>
    {{#each questions}}
    <tr>
        <td>{{this.randomNumber1}}</td>
        <td>{{this.randomNumber2}}</td>
    </tr>
    {{/each}}
</table>
<table>
    <tr>
        <th>Answer</th>
    </tr>
    {{#each userAnswers}}
    <tr>
        <td>&nbsp;{{this.answer}}</td>
    </tr>
    {{/each}}
</table>
<table>
    <tr>
        <th>Result</th>
    </tr>
    {{#each calculatedAnswers}}
    <tr>
        <td>{{this.answer}}</td>
    </tr>
    {{/each}}
</table>
<div>
    <p style="position: bottom: 0; width:100%; text-align: left">
        You got {{correctAnswerCount}} correct, out of {{noOfQuestions}}
        <br>
    </p>
</div>