<ul class="NavBar">
    <li><a href="/home">home</a></li>
    <li><a href="/viewWorksheets">View Worksheets</a> </li>
    <li><a href="/myScores">myScores</a> </li>
    <li><a href="/profile">Profile</a></li>
</ul><br><br>
<h1>Worksheet Name: {{name}}</h1>
<h2>{{topic}}</h2>
<h3>Answers are Limited to 3 Decimal Places</h3>
<form action="/worksheet">
    <table>
        <tr>
            <th>Operand1</th>
            <th>Operand2</th>
            <th>Answer</th>
        </tr>
        {{#each numberList}}
        <tr>
            <td>{{this.randomNumber1}}</td>
            <td>{{this.randomNumber2}}</td>
            <td><input name="answer_{{this.index}}" type="number" step="0.001"></input></td>
        </tr>
        {{/each}}
    </table>
    <input type="submit" value="Submit">
</form>