<h1>Worksheets Stored on MongoDB</h1>
<p>
    <form action="/worksheet">
        <ol>
            {{#each worksheets}}
            <li>Worksheet Name: {{this.name}}<br>
                Worksheet Author: {{this.author}}<br>
                Worksheet Topic: {{this.topic}}</li>
            Worksheet ID: {{this._id}} <br>
            <button name="_id" type="submit" value={{this._id}}>Render Worksheet</button>
            {{/each}}
        </ol>
    </form>
    <br>
    <button onclick="loadHome()">Home</button>
</p>
<script>
    function loadHome() {
        location.replace("/home")
    }
</script>